.App {
  text-align: center;
  font-family:"Times New Roman",Times,serif;
  touch-action: none
}

.chart{
   
  font: italic  12px/30px Times, serif;
  
}

.trigTable{
  position: absolute;
    left: 0px;
    top: 0px;
}
.sin{
 background-color:red
}
.cos{
  background-color:green
}
.tan{
  background-color:blue
}
.csc{
  background-color:brown
}
.sec{
  background-color:orange
}
.cot{
  background-color:purple}

.trigForm{
  background-color:grey
}

.special{
  background-color:gold
}

.infinity{
  background-color:black;
   
}


 

 

  
