.App {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  
  touch-action: none
}

.chart {

  font: italic 12/30 Times, serif;

}

.trigTable {
  position: absolute;
  left: 0%;
  top: 80%;
  
  flex-direction: row
}

.thetaTable {
  position: absolute;
  left: 0px;
  top: 0px;

  flex-direction: row
}


.sin {
  background-color: red;
  border: 0px solid;
   
}

 

.cos {
  background-color: green;
  border: 0px solid;
}

.tan {
  background-color: blue;
  border: 0px solid;
}

.csc {
  background-color: brown;
  border: 0px solid;
}

.sec {
  background-color: orange;
  border: 0px solid;
}

.cot {
  background-color: purple;
  border: 0px solid;
}

.trigForm {
  background-color: lightgray;
  border: 0px solid;
  height: 20px;
  width:100px;
  margin: 0%;
  border-spacing: 0px;
  font-style: italic; 


}

.special {
  background-color: gold;
  border: 0px solid;
  height: 20px;
  width:100px;
}

.infinity {
  background-color:grey;
  border: 0px solid;
  height: 20px;
  width:100px;

}

.sigs {
  width:100px;
}

table {
  float: left;
  border: 0px solid;
  margin: 0px;
  border-spacing: 0px;
}

tbody {

  border: 0px solid;
  margin: 0px;
  border-spacing: 0px;
}

tr {
  border: 0px solid;
  margin: 0px;
}

td {
  border: 0px solid;
  margin: 0px;
}

@media screen and (min-width: 480px) {
   
}